.warning-message {
    height: 146px;
    margin: 0 auto;
    background: #f5f4f4;
    padding: 20px 30px 0 20px;
    box-shadow: 1px 1px 1px 1px #d2cccc;
}
.warning-main {
    border: 1px solid #f02c2c;
    border-right: none;
}
.warning-left {
    width: 10%;
    float: left;
    text-align: center;
    display: table;
    height: 100px;
    background: #f02c2c;
}
.again-try p {
    display: inline-block;
    color: #4c4747;
    margin-left: 10px;
}
.success-message {
    width: 500px;
    height: auto;
    margin: 0 auto;
    background: #f5f4f4;
    padding: 19px 40px 0 40px;
    box-shadow: 1px 1px 1px 1px #d2cccc;
}
.success-main {
    border: 1px solid #8eb021;
    border-right: none;
}
.success {
    background: #0eb30e;
    width: 400px;
}
.success-left {
    width: 10%;
    float: left;
    text-align: center;
    display: table;
    height: 100px;
    background: #8eb021;
}
.success-left span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}
.success-body p {
    margin: 0;
    color: #3a3636;
}
.success-body h4 {
    font-size: 17px;
    padding-top: 1px;
    color: #2d2727;
    margin: 32px 0 2px 0;
}
.success-body {
    width: 84%;
    float: left;
    border-right: none;
    padding-left: 16px;
}
.conform-info {
    margin-top: 10px;
    font-size: 14px;
}
.conform-info p {
    color: #3a3636;
}

.conform-info table, th, td {
    border: 1px solid #d0c3c3;
    border-collapse: collapse;
}
.conform-info th, td {
    padding: 5px;
    text-align: left;
    color: #2d2727;
}

.print-info {
    margin-top: 12px;
}
