<div id="bsccm-presentation" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for item in range(0, data|length - 1) %}
            <li data-target="#bsccm-presentation" data-slide-to="{{ item }}" class="{{ loop.first ? 'active' : '' }}"></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
        {% for item in data %}
            <div class="item {{ loop.first ? 'active' : '' }}">
                <div class="slide-wrapper">
                    {{ item.value | raw }}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#bsccm-presentation" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#bsccm-presentation" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>