
.field--label {
    display: initial;
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 16px;
    font-family: "PT Serif", serif;
}
.region-content h1.page-header {
    font-family: "PT Serif", serif;
    font-size: 25px;
}
main {
    font-family: "PT Serif", serif;
    font-size: 13px;
    padding: 0 15px;
}
main #content {
    font-family: "PT Serif", serif;
    font-size: 13px;
    padding: 0 23px !important;
    background: #fff4f4;
}
main .field--label {
    display: initial;
    margin-bottom: 17px;
    font-size: 16px;
    font-family: "PT Serif", serif;
}

.field--name-field-introduction .field--item {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-abstract .field--label {
    padding-left: 40px;
}
.field--name-field-abstract .field--item {
    font-style: italic;
    padding-left: 40px;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 17px;
}

.field--name-field-discussion .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-conclusion .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-references .field--items {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}
.field--name-field-references .field--item {
    padding: 6px 0;
    font-size: 12px;
}
.field--name-field-references .field--item span {
    display: inline-block;
}
.field--name-field-references .field--item .ref-text {
    padding-left: 25px;
    display: inline-block;
    vertical-align: top;
}

.field--name-field-material-and-methods .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-form-result .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-objective .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.field--name-field-acknowledgement .field--item {
    column-count: 2;
    text-align: justify;
    column-gap: 40px;
    padding: 12px 10px 10px 10px;
}

.links, .print__wrapper--pdf {
    display: none;
}
a[href]:after {
    content: " (" attr(href) ")";
}
nav.tabs, .list-inline {
    display: none;
}
@media print {
    a[href]:after {
        content: " (" attr(href) ")";
    }
    nav.tabs, .list-inline, .print-journal {
        display: none;
    }
}