
.slide-wrapper {
	    width: 70% !important;
	    margin-top: 30px;
	    display: block;
	    padding-top: 50px;
	    margin: 0 auto;
	}
.slide-wrapper table {
	    margin: 0 auto;
	    width: 100% !important;
	    border: 1px solid #c2c2c2;
	}
.slide-wrapper table ul {
	    padding-left: 30px;
	    list-style: square !important;
	}
.slide-wrapper ul li {
	    display: list-item !important;
	    list-style: square;
	    border-bottom: none !important;
	}
.slide-wrapper table tbody tr:first-child td {
	    width: 60% !important;
	}