/*main body css start below*/

.btn{border:0px;}
.views-element-container {
	.contextual-region {
		.form-group {
		    display: flex;
		    
		}
	}
}
.region-content {
    h3 {
    	border-bottom: 2px solid #b7afaf;
	    display: inline-block;
	    padding-bottom: 2px;
	    font-family: 'PT Serif',serif;
	    font-weight: 500;
	    margin-bottom: 20px
    }
    .special-event {
		img{
			width: 100%;
		}
	}
	ul {
		@extend %ul-tag-mar-padd;
		li {
			    border-bottom: 1px solid #bddace;
			    padding: 5px 0px;
    			display: table;
			a {
				color: #0abdf5;
				//line-height: 22px;
				&:hover {
					@extend %a-hover;
				}
			}
		}
	}
	.perspective {
    	p {
			margin: 20px 0;
    	}
	}
	.view-empty {
			    display: inline-block;
			    padding-left: 12px;
			    .links {
			    	li {
			    		border-bottom: none;
			    		padding-left: 0px;
			    	}
			    }
			}
			.feed-icons {
			    display: inline-block;
			    padding-left: 6px;
			    margin-top: 10px;
			    text-transform: uppercase;
			}
}
.views-element-container.contextual {
    display: inline-block;
    li {
    	border-bottom: none !important;
    }
}

.all-portfolio {
    margin-bottom: 30px;
	    .blog-item {
		h4 {
			height: 55px;
			a {
				font-family: 'PT Serif',serif;
			    color: #275346;
			    font-weight: 600;
			    text-decoration: none;
			    font-size: 16px;
			}
		}
	}
}

.field--label-hidden {
	.field--item {
		ul {
			li {
				border-bottom: none;
				a {
					img {
						background: #275346;
	    				border-radius: 50%;
	    				&:hover {
	    					opacity: .6;
	    				}
					}
				}
			}
		}
	}
	
}

.connect-social {
		 li {
		    border-bottom: none;
		    width: 30px;
		    height: 30px;
		    text-align: center;
		    background: #2b8bb6;
		    margin-right: 12px;
		    padding: 0 0 0 4px;
		    border-radius: 50%;
		    padding-bottom: 0px !important;
		    padding-bottom: 0px !important;
		    display: inline-block!important;
	     a {
	    	color: #ffffff !important;
	    	.fa-facebook {
			    margin-left: 3px;
			}
			&:hover {
				color: #b2b7bb !important;
			}
		}

	}
}
.blog-item {
	.thumb {
		position: relative;
	a {
		img {
			&:hover{
				opacity: .4;
			}
		}
	}
	}
}
.blog-item .thumb a:hover:after {
    position: absolute;
    content: url(../images/link.png);
    top: 45%;
    right: 45%;
    transition: .5s ease;
    visibility: visible;
}

.portfolio-content {
    background: #f7f4f4;
    padding-top: 35px;
}

.view.view-event {
	.view-content {
		clear: both;
    	margin-bottom: 100px;
		h2 {
		    font-size: 25px;
		    color: #0ABDF5;
		    font-family: 'PT Serif',serif;
		    a {
		    	&:hover {
		    		text-decoration: none;
		    	}
		    }
		}
		p {
			text-align: justify;
			padding-left:10px;
		}
		.btn-primary {
		    margin: 10px 0;
		}
		.read-more {
				width: 100%;
			a {
			    float: right;
			}
		}
		.event-date {
		    padding-left: 10px;
		}
	}
}

.page-title {
    font-family: 'PT Serif',serif;
    font-weight: 600;
    font-size: 22px;
    margin-top: 32px;
    color: #4e4b4b;
}
.breadcrumb {
    position: absolute;
    top: 4px;
    left: -4px;
}
.connect-us {
    float: right;
    width: 30%;
}
#block-sidebarmenu-2 {
		a.menu-toggle {
	    display: none;
	}
}
.nav-item.active a {
    
}
.navbar-nav.ml-auto li.active {
	a {
	    color: $active-color !important;
	}
}
.menu.menu--sidebar-menu.nav {
	li.active a {
	    color: $active-color !important;
	}
}
.first-sidebar {
    background: #e3e5e6;
    .region-sidebar-first {
	    background: #7f95a9;
	    color: #fff;
		box-shadow: 3px 5px 7px 2px #c3b8b8;
		li {
			border-bottom: 1px solid #dfdfdf;
			a {
				padding-left: 26px;
				&:before {
					position: absolute;
					content: "\203A";
					font-size: 21px;
					width: 12px;
					margin-left: -13px;
					font-weight: bold;
					margin-top: -5px;

				}
				color: #4a3363;
				&:hover{
					background-color: #67849d;
					color: #ffffff;
				}
			}
		}

	}
}
.first-sidebar .region-sidebar-first li a:before {

}
.messages{
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	.messages--status{
		color: #3a87ad;
		background-color: #d9edf7;
		border-color: #bce8f1;
	    a{
	    	color: #062c33;
	    }
	}
	.messages--error{
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	    a{
	    	color: #491217;
	    }
	}
	.messages--danger{
		color: #b94a48;
		background-color: #f2dede;
		border-color: #eed3d7;
	    a{
	    	color: #491217;
	    }
	}
	.messages--warning{
		color: #856404;
	    background-color: #fff3cd;
	    border-color: #ffeeba;
	    a{
	    	color: #533f03;
	    }
	}
}
.blog-item {
	.col-md-6 {
	    margin-bottom: 50px;
	    margin-top:30px;
	}
}

.blog-item-background {
	.featured-image-wrapper {
		a {
			img {
			    margin-bottom: 24px;
			    margin-top: 25px;
			    &:hover {
			    transform: scale(1.1);
			    }
			}
		}
	}
	.blog-taxonomy {
		a {
			text-transform: uppercase;
			&:hover {
			}
		}
	}
}
.blog-body {
	a {
	    
	    color: #000;
	    text-decoration: underline;
	}
}

.blog-title {
		a {
	    font-size: 21px;
	    text-transform: inherit;
	    text-decoration: none;
	    color: #666;
	    &:hover {
	    }
	}
}
.blog-taxonomy {
	font-size: 15px;
    letter-spacing: 1px;
}
.popular-post-item {
	    margin-bottom: 30px;
}
.popular-blog-list {
	h2 {
	   margin-left: 17px;
	    font-size: 25px;
	    border-bottom: 1px solid #f1efef;
	    padding-bottom: 9px;
	}
}
.popular-post-title {
	a {
		&:hover {
		color: #000;
		text-decoration: none;
		}
	}
}
.block-est-blog h3 {
    margin-left: 20px;
}
.region-content {
	h1.page-header {
	    margin-top: 20px;
    	font-size: 25px;
	}
}
.blog-category-list{
		 li {
		    background: #000;
		    display: inline-block;
		    padding: 0 5px;
		    list-style:none;
			 margin-right: 10px;
			 margin-bottom: 10px;
		    a {
			    color: #ffffff;
			    text-decoration: none;
			    font-weight: 600;
		    }
	}
}
.region-bsccm-2nd-sidebar {
	 a {
	    color: #636060;
	    font-size: 15px;
	    line-height: 22px;
	}
}

.site-footer {
    margin-top: 25px;
}
.feed-icons {
   display: none !important;
}
div#landing-page-hero {
    text-align: center;
    .align-center {
    	span span {
    	display: none !important;
    	}
    }
}
#block-blogheaderimage{
	.hero-image {
		img {
			height: 170px;
			width: 117% !important;
			max-width: none;
			margin-left: -117px;
		}
	}
}

div#landing-page-hero {
    position: relative;
}
.block-block-content {
	.hero-text {

		color: #ffffff;
	    position: absolute;
	    top: 8%;
	    left: 26%;
		a {
			color: #00000e !important;
		}
	    h1 {
		    font-size: 40px;
		    color: #ffffff;
		    font-weight: 600;
	    }
	}
}

.region-content {
	.local-actions {
		a.btn.btn-xs.btn-success{
			display: none;
		}
	}
}
.region-content {
	h1.page-header {
		font-size: 22px;
		color: #000;
		letter-spacing: 1px;
		font-weight: 600;
		font-family: "montserrat",sans-serif;
		margin-top: 24px;
	}
}
.block-social-media {
	.social-media-sharing {
		border-bottom: 1px solid #dfdfdf;
		margin-top: 15px;
		margin-left: 16px;
		.share {
			img {
				width: 24px;
				background: #d4d9e2;
				padding:2px;
				&:hover{
					opacity: .8;
				}
			}
		}
		li {
			border: 1px solid #dfdfdf;
			padding: 4px;
		}
	}
}
.blog-post {
	footer{
		article a {
			display: none;
		}
		.author {
			font-size: 12px;
			margin-bottom: 10px;
			color: #6b6666;
		}
	}
	.list-inline {
		margin-bottom: 20px;
		.blog-usernames-blog {
			border-bottom: none !important;
			a {
				font-size: 18px;
				color: #504d4d !important;
			}
		}
		.comment-forbidden {
			display: block !important;
			padding-bottom: 12px;
			a {
				background: #504d4d;
				color: #fff !important;
				padding: 0 6px;
				&:hover{
					background: #848080 !important;
				}
			}
		}
	}
}
.field--name-field-blog-tags {
	clear: both;
	margin-top: 35px;
	font-size: 19px;
}
.blog-post {
	section {
		h2 {
			margin-top: 70px;
			font-size: 15px;
		}
	}
}

.js-comment {
	h3{
		a{
		color: #38393a;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.js-comment {
	.list-inline {
		margin-top: 15px;
	}
	li {
		float: left;
		margin-right: 13px;
		background: #737171;
		padding: 0px 6px !important;
		a {
			color: #ffffff !important;

		}
		&:hover{
			background: #848080 !important;
		}
	}
}

#views-exposed-form-bsccm-member-all-member {
	.js-form-wrapper {
		display: block;
		float: right;
		padding: 10px 0;
		#edit-actions--2 {
			margin: 10px;
		}
	}
}

#views-exposed-form-bsccm-member-committee-member {
	@extend #views-exposed-form-bsccm-member-all-member;
}
.navigation.first-sidebar {
	padding: 8px 4px 4px 4px;
}
.form--inline.form-inline {
	#edit-actions {
		padding-bottom: 12px;
	}
}
.form--inline.form-inline {
	#edit-actions--2 {
		padding-bottom: 12px;
	}
}
input#edit-field-name-value {
	width: 92%;
	margin: 10px 10px 0 10px;
}
.views-exposed-form{
	.form-type-select {
		float: right;
		margin-right: 10px;
	}
}

.highligh-featured {
	.navigation {
		aside.block-nav {
			.region-sidebar-first label {
				margin-left: 19px;
				font-size: 12px;
			}

			#edit-actions {
				float: right;
				margin-top: 10px;
			}
		}
	}
}

.member-info-small {
	p {
		font-weight: 600;
	}
}
.view-content{
	.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 300px;
		margin: auto;
		text-align: center;
		a {
			img {
				width: 100%;
			}
		}
		h3 {
			border-bottom: none;
			margin-bottom: 2px;
			margin-top: 10px;
			font-size: 17px;
			font-weight: 600;
		}
		text-align: center;
		margin-top: 20px;
		p.title {
			font-weight: 600;
			color: grey;
			font-size: 12px;
			margin-bottom: 0;
		}
		.btn-block {
			background: #95a8b9;
			border-radius: 0px !important;
			font-size: 14px;
			&:hover{
				background: #748492;
			}
		}
	}

}

#block-homespecialevent {
	width: 40%;
	float: left;
}

.modal-content {
	.modal-body {
		.member-detail-wrapper {
			.member-label {
				font-weight: bold;
				margin: 6px 0;
			}
		}
	}
}
.modal-dialog {
	.member-photo {
		display: inline-block;
		float: left;
	}
	.member-info-small {
		display: inline-block;
		float: left;
		margin-left: 20px;
		h3 {
			margin-bottom: 5px;
			font-weight: 600;
		}
	}
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: unset;
}
.tabs{
	.tabs--primary.nav.nav-tabs {
		margin-bottom: 12px;
	}
}
.author{
	.quickedit-field {
		a {
			background: #737171;
			color: #fff;
			padding: 0 5px;
		}
	}
}
.modal-content {
		height: 400px;
		overflow: auto;
	.modal-header{
		.member-info-small p {
			font-weight: 500;
			color: #444343;
		}
	}
	.modal-body {
		border-bottom: 1px solid #dfdfdf;
		margin-bottom: 10px;
		.graduation-training {
			width: 60%;
			display: inline-block;
			padding-left: 10px;
		}
		.pre-par-address {
			width: 40%;
			float: left;
		}
		.member-detail-wrapper {
			box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
			padding: 10px;
			.member-data {
				font-size: 13px;
				color: #524e4e;
				li {
					margin-bottom: 10px;
				}
			}
			.member-label{
				color: #444343;
			}
			.member-data {
				li {
					border-bottom: none !important;
				}
			}
		}
	}
}

.news{
	article{
		display:none;
	}
	.author{
		font-size: 12px;
		margin-bottom: 10px;
		color: #6b6666;
	}
}
.view-news {
	.view-content{
		.panel {
			margin-bottom: 20px;
		}
	}
}
.view-blog-moderation {
	.view-content{
		.panel {
			margin-bottom: 20px;
		}
	}
}
.blog-post.teaser.clearfix h2 a {
	font-size: 22px;
	color: #4a4949;
}

.views-element-container{
	.node-readmore {
		border-bottom: none !important;
		a {
			background: #0abdf5;
			padding: 7px 6px;
			border-radius: 4px;
			&:hover{
				background: #0d9ecc;
				border-color: #076786;
				transition: 0.1s cubic-bezier(0.54, -0.24, 1, 1);
			}
			}
		}
	}
.main.container-fluid.event-parseption-content {
	margin-bottom: 15px;
	.special-event.col-left {
		margin-left: -4%;
	}
}

#block-endorsedby {
	margin-bottom: 20px;
	h2 {
		border-bottom: 2px solid #b7afaf;
		display: inline-block;
		padding-bottom: 2px;
		font-family: 'PT Serif',serif;
		font-weight: 500;
		margin-bottom: 20px;
		font-size: 24px;
		margin-left: 16px;
	}
	ul {
		margin: 0px;
		padding: 0px;
		li {
          list-style: none;
          float: left;
          width: 33.33%;
          padding-right: 15px;
          text-align: center;
			&:last-child{
				padding-right: inherit;
			}
			img {
              width: 35%;
              height: auto;
			}
		}
	}
}

.block-est-news {
	float: left;
}

.block-youtubechannel {
	h2 {
		border-bottom: 2px solid #b7afaf;
		display: inline-block;
		padding-bottom: 2px;
		font-family: 'PT Serif',serif;
		font-weight: 500;
		margin-bottom: 20px;
		font-size: 24px;
	}
}
.view-id-presentation_sliders{
	.view-content{
		span {
			position: relative;
			a{
				font-weight: bold;
				padding-left: 25px;
				&:hover{
					color: #ffffff !important;
					background-color: #9ab3ca !important;
				}
				&:before {
					position: absolute;
					content: "\203A";
					margin-left: -12px;
					font-size: 24px;
					margin-top: -8px;
				}
			}
		}
	}
}

.pager__item {
	display: inline-block !important;
}

.path-presentation {
	.all-content {
		min-height: 250px;
	}
}