%all-button-color{
	background-color: #0ABDF5;
    color: #ffffff !important;
    font-weight: normal;
    border: 1px solid #0ABDF5;
}
%ul-tag-mar-padd {
	margin: 0;
	padding: 0;
	list-style: none;
}
%ol-tag-mar-padd {
	margin: 0;
	padding: 0;
	list-style: none;
}

%li-tag-function {
	display: inline-block;
	float: left;
	list-style: none;
}
%a-tag-function {
	float: left;
	text-decoration: none;
	color: $white-color;
}
%a-hover{
	background: none;
    text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.active-trail.is-active {
	color: #ffffff !important;
}