
/*Footer css start below*/
.contextual-region {
    position: static;
}
.webform-actions {
	.ajax-progress-throbber{
		display: inline-block;
	}
}
.webform-submission-form .form-actions button {margin-right: 10px;}
.path-webform { 
		.main-content {
		.section {
		padding:0px 0px 25px;
			display: block;	
			.container-inline
				{
					max-width: initial;
				}
		}
	}
	}
.page-node-type-event {
	.main-content {
		.section {
			padding:0px 0px 25px;
			display: block;
		}
	}
}
		
.site-footer{
	background: #67849d;
	.footer-single-block {
	    width: 30%;
	    display: inline-block;
	    clear: both;
	    color: $white-color;
	    padding: 60px 30px 30px 0px; 
    	vertical-align: top;

	    h3 {
			font-size: 18px;
			font-family: 'PT Serif', serif;
			margin-top: 1px;
			line-height: 25px;

	    }
	    a {
	    	color: $white-color;
	    }
	    .quickedit-field {
	    	 font-size: 12px;
    		line-height: 25px;
	    }
	}
}
.footer-right {
	img {
		max-width: 100%;
	}
}
.footer-bottom-main {
    background: #567188;
    padding: 16px 0;
    .development-credit {
	    text-align: center;
	    color: #fff;
	    font-size: 12px;
	    a {
	    	color: #01e82a;
	    	&:hover {
	    		color: #fff;
	    		text-decoration: none;
	    	}
	    }
	}
	#button {
		display: inline-block;
		background-color: #0abdf5;
		width: 50px;
		height: 50px;
		text-align: center;
		border-radius: 4px;
		position: fixed;
		bottom: 30px;
		right: 30px;
		transition: background-color .3s,
		opacity .5s, visibility .5s;
		opacity: 0;
		visibility: hidden;
		z-index: 1000;
		&:hover {
			cursor: pointer;
			background-color: #333;
		}
		&:active {
			background-color: #555;
		}
		&:after {
			font-weight: normal;
			font-style: normal;
			font-size: 2em;
			line-height: 50px;
			color: #fff;
		}
		&.show {
			opacity: 1;
			visibility: visible;
			color: #ffffff;
			font-size: large;
			padding-top: 10px;
		}
	}
}
#mc_embed_signup_scroll {
	label {
		font-size: 18px;
		font-family: 'PT Serif', serif;
	}
}

#mc_embed_signup {
	input {
		border: none !important;
	}
	button {
		border: none !important;
	}
}