

/*top header css blow*/
.navbar-right {
	li {
		a {
			&:hover,&:focus {
				background: none !important;
			}
		}
	}
}
a {
	&:focus,&:hover{
		outline: none;
		border:none;
	}
}
.top-header {
	background: $gray-color;
}
.main-logo{
	background: url(../images/logo-bg.png);
	background-size: cover;
	padding: 25px 0px 35px 0px;
	margin-top: 3px;
}
.breadcrumb {
    padding-top: 5px;
}
.main-menu {
	background: $light-gray;
}
nav#block-bsccm-main-menu {
    width: 75%;
    display: block;
    float: left;
}
.region-navigation {
    display: block;
    ul {
    	@extend %ul-tag-mar-padd;
    	li {
    		@extend %li-tag-function;
			padding: 15px 0px;
			a {
				@extend %a-tag-function;
				border-right: 2px solid $white-color;
				padding: 0px 18px 0px 18px;
				font-weight: 400;
				font-size: 14px;
				color: $gray-dark !important;
				text-transform: uppercase;
				line-height: 18px !important;
				&:hover {
					@extend %a-hover;
					color: $white-color !important;
				}
			}
    	}
    	li:last-child {
    		a {
    			border-right: none;
    		}
    	}
    }
}

nav#block-bsccm-account-menu {
	display: initial;
}
@media screen and (min-width: 768px){
body {
    margin-top: 0 !important;
}
}
.breadcrumb {
	@extend %ol-tag-mar-padd;
    display: inline-block !important;
    margin-top: 10px;
    background: none;
    color: #fff;
    .active {
    	color: #92b0c9;
    }
    li {
    	a {
    		color: $white-color;
    	}
    }
}
.main-menu {
	.layout-container {
		margin-left: -10px;
	}
}
ul.navbar-right {
	@extend %ul-tag-mar-padd;
		li {
			padding: 13px 0 12px 0;
			a {
				font-size: 12px;
				padding: 0px 8px;
				border-left: 1px solid $white-color;
				@extend %a-tag-function;
				line-height: 11px !important;
			}
			a:hover {
					@extend %a-hover;
					color: #37c9f7;
					background:none;
					}

			}
			li:first-child {
				a {
					border-left: none;
				}
			}
		}


.input-group {
    position: relative;
    margin: 10px 0px 0 6px;

    input[type="search"] {
    	height: 28px;
	    width: 100%;
	    border-radius: 4px !important;
    }

    span {
    	display: inline-block;
	    position: absolute;
	    width: 10%;
	    margin-top: -5px !important;
	    &:hover{
	    	border:none;
	    	outline: none;
	    }
	    &:focus{
	    	border:none;
	    	outline: none;
	    }
    }

}

.glyphicon-search:before {
    font-size: 18px;
}
.input-group-btn {
	.icon-only {
	    background: none;
	    border: none;
	}
}
.search-block-form {
    margin-left: 0px;
    width: 25%;
    float: left;
    .btn-primary {
    		&:hover
    		{
    		background:none;
    		}
    	}
}
.form-group {
    margin-bottom: 0px !important;
}

.navbar-right {
    margin-right: 120px !important;
    .first {
	    margin-left: -10px;
	}
}
.region-top-navigation {
    position: relative;
}
.social-link {
	position: absolute!important;
    right: 0;
    top: 8px;
	ul {
		@extend %ul-tag-mar-padd;
		li {
			@extend %li-tag-function;
    		margin-left: 10px;
		}
	}
}
.social-media {
	li {
	    background: #b9a6a6;
	    width: 20px;
	    height: auto;
	    border-radius: 50%;
	    a {
	    	color: #16344e;
	    	margin-left: 4px;
	    	.fa-facebook {
			    margin-left: 3px;
			}
			&:hover {
				color: #2d6698;
			}
	    }
	}
}
