.webform-required {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.webform-submission-form {
	label {
	    margin: 12px 0 6px 0;
	    display: flex;
	    font-size: 15px;
	    display: inline-block;
	}
	#phone_table {
	    margin-top: 18px;
	    .webform-multiple-table {
		    margin-top: -26px;
		    .table-responsive {
				button {
				    margin: 2px 0 12px 0;
				}
			}
		}
		.webform-multiple-table {
			.table-responsive button {
			    margin: 5px;
			}
		}

	}
	.form-actions {
		float: right;
	    margin: 0 -10px 0 0;
		button {
		    background: #5cb85c;
		    color: #fff;
		}
	}
}

.webform-multiple-add {
	button {
		margin: 0 7px 0px 0;
	}
	.form-inline {
	    display: inline-flex;
	}
}
.webform-multiple-add {
	.container-inline {
	    max-width: 235px;
	    float: right;
	    margin: 10px 0;
	}
}
.js-form-item-country {
    padding: 0 0 12px 0px;
}
.select-wrapper:after {
    content: '' !important;
}
.form-composite {
	legend {
		    color: #565050;
		    font-weight: 400 !important;
		}
 }
 .webform-required {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}
.form-required:after {
    position: absolute;
    content: '*';
    font-size: 18px;
    color: #e60a0a;
}
.webform-required {
	.form-required:after {
	    display: contents;
	    font-size: 22px;
	}
}
#membership-payment-renew-form {
	.form-inline {
		padding-bottom: 12px;
		.control-label{
			padding-top: 2px;
			margin-right: 10px;
			margin-left: 15px;
			width: 94px;
			display: inline-block;
			text-align: left;
		}
		input {
			width: 200px;
		}
	}
}
form#user-pass p {
	font-size: 13px;
	margin-top: 10px;
	color: #585757;
}
.form-item {
		margin-top: 10px;
	}

.user-register-form {
	.field-label {
		background: #94a3b1;
		padding-left: 10px;
	}
	.form-required:after {
		position: inherit;
	}
	.field-multiple-table{
		#field-post-graduation-0-item-wrapper {
			padding: 20px;
		}
		#field-icu-ccm-training-0-item-wrapper {
			padding: 20px;
		}
	}
	#field-year-of-graduation-year-0-item-wrapper {
		padding: 20px;
	}
	.js-form-item-field-telephone-mobile-0-value{
		padding: 20px;
	}
	#edit-actions {
		button {
			background: #5bc0de;
			margin-top: 12px;
			color:#ffffff;
			&:hover{
				background: #3f90a9;
			}
		}
	}
	.field-multiple-drag {
		padding-right: 2px !important;
	}
}
.comment-comment-form{
	#edit-actions {
		margin-top: 20px;
	}
	.select-wrapper{
		#edit-comment-body-0-format--2 {
			margin-top: -10px;
		}
	}
}
.user-logged-in.path-frontpage {
	.modal-content {
		h4 {
			color: #33424f;
		}
		height: 210px;
		overflow: hidden;
		.js-modal-page-ok-buttom {
			background: #7f95a9;
			margin-left: 14px;
			color: #fff;
			padding: 3px 5px;
			&:hover{
				background: #637a90;
			}
		}
		.modal-body {
			padding-bottom: 0px;
			margin-bottom: 3px;
		}
	}
}