.page-node-type-publication {
  .field--label {
    display: initial;
    margin-bottom: 17px;
  }
  .region-content {
    h1.page-header {
      font-family: 'PT Serif', serif;
      font-size: 25px;
    }
  }
  main {
    #content {
      font-family: 'PT Serif', serif;
      font-size: 13px;
      padding: 0 23px !important;
      background: #fff4f4;
    }
    font-family: 'PT Serif', serif;
    font-size: 13px;
    padding: 0 15px;
    .field--label {
      display: initial;
      margin-bottom: 17px;
      font-size: 16px;
      font-family: 'PT Serif', serif;
    }
  }
}
@mixin field-item-mixin($gap) {
  column-count: 2;
  text-align: justify;
  column-gap: $gap;
  padding: 12px 10px 10px 10px;
}

.field--name-field-introduction {
  .field--item {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    @include field-item-mixin(40px)
  }
}
.field--name-field-abstract {
  .field--label {
    padding-left: 40px;
  }
  .field--item {
    font-style: italic;
    padding-left: 40px;
    text-align: justify;
    font-size: 14px;
  }
}
.field--name-field-discussion {
  .field--item {
    @include field-item-mixin(40px)
  }
}
.field--name-field-conclusion {
  .field--item {
    @include field-item-mixin(40px)
  }
}

.field--name-field-references {
  .field--items {
    @include field-item-mixin(40px);
  }
  .field--item {
    padding: 6px 0;
    font-size: 12px;
    span {
      display: inline-block;
    }
    .ref-text {
      padding-left: 25px;
      display: inline-block;
      vertical-align: top;
    }
  }
}
.field--name-field-material-and-methods {
  .field--item {
    @include field-item-mixin(40px)
  }
}
.field--name-field-form-result {
  .field--item {
    @include field-item-mixin(40px)
  }
}
.field--name-field-objective {
  .field--item {
    @include field-item-mixin(40px)
  }
}
.field--name-field-acknowledgement {
  .field--item {
    @include field-item-mixin(40px)
  }
}

