@media only screen and (max-width : 1026px) {
	.region-navigation {
		ul {
			li {
				a {
				    border-right: 1px solid #ffffff;
				    padding: 0px 10px 0px 10px;
				    font-weight: 600;
				    font-size: 14px;
				    line-height: 13px !important;
				}
			}
		}
	}
	.input-group {
	    margin: 7px 0px 1px 6px;
	}
	// .container-inline {
	//     width: 100%;
	//     position: absolute;
	//     left: 26px;
	//     top: 18px;
	// }
	.input-group input[type="search"] {
	    width: 90%;
	}
	.navbar-right{
		padding-bottom: 7px;
	}
	.breadcrumb {
		top: 8px;
	}
	.mean-container a.meanmenu-reveal{
		left: 0 !important;
		right: auto !important;
	}
	.main-menu{
		.region-navigation {
		    position: relative;
		}
	}
	.block-block-content {
		.hero-text {
			left: 18%;
			.btn.btn-primary {
				background-color: #397faf;
			}
		}
	}
	
}

@media only screen and (max-width : 994px) {
	.region-navigation {
		ul {
			li {
				a {
				    padding: 0px 10px 0px 10px;
				    font-size: 13px;
				}
			}
		}
	}
}
@media only screen and (max-width : 768px) {
	#block-blogheaderimage{
		.hero-image {
			img {
				width: 116% !important;
				max-width: none;
				margin-left: -103px;
			}
		}
	}
		.img-thumbnail.img-responsive {
			    width: 100%;
			}
		.site-footer{
			padding-top: 40px;
			.footer-single-block {
			    padding: 10px 30px 10px 0px;
			    width: 100%;
			    text-align: center;
			}
		}
		.navbar-right {
			li {
			    padding: 13px 0 12px 0;
			    float: left;
			    .first {
				    margin-left: -10px;

				}
			}
		}
		
		.logo img {
			max-width: 70%;
		}
		.input-group input[type="search"] {
		    width: 90%;
		}
		.mean-container .mean-bar {
		    background: #67849d !important;
		}
		.search-block-form{
			border-left: none;
		    margin-left: 0 !important;
			position: absolute;
			right: 0;
            z-index: 9999999;
            margin-top: 6px;
			.container-inline{
				display: block;
			    float: right;
			    margin-right: 30px;
				div{
				    z-index: 999999;
				    top: 3px;
				}
			}
		}
		.connect-us {
		    width: 100%;
		    .content{
		    	padding: 0 15px;
		    }
		}
		.container {
		    width: 100%;
		}
		.block-block-content {
			.hero-text {
				left: 10%;
				h1 {
					font-size: 25px;
				}
			}
		}
		#mc_embed_signup form{
			text-align: center !important;
		}
		#mc_embed_signup form input.email{
			margin-left: 20%;
		}
	section#block-homespecialevent {
		width: 100%;
	}
}
@media only screen and (min-width : 992px) {
	.navbar-collapse {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}

@media only screen and (max-width : 440px) {
	.block-block-content {
		.hero-text {
			left: 10%;
			h1 {
				font-size: 22px;
			}
			p {
				font-size: 13px;
			}
		}
	}
	#block-blogheaderimage{
		.hero-image {
			img {
				width: 107% !important;
				max-width: none;
				margin-left: -14px;
			}
		}
	}
    .hero-image {
      img {
        margin-left: -100px;
      }
    }
	.carousel-caption {
		h3 {
		    font-size: 16px;
		}
		p {
		    font-size: 13px;
		}
	}
	.logo {
	    text-align: center;
	}
	// .container-inline {
	//     top: 4%;
	//     left: 5%;
	// }
	.navbar-right {
		margin-right: 0px !important;
	    padding: 35px 0px 35px 0 !important;
	    li {
	    	padding: 0px 0 12px 0;
	    	a {
			    font-size: 10px;
			    padding: 0px 3px;
	    	}
	    }
	}
	.social-link {
	    right: 36%;
	    top: 70px;
	}
	.input-group {
	    position: relative;
	    margin-left: 0px;
	}
	.region-footer {
		.field--item {
			font-size: 13px;
				img {
			    max-width: 80%;
			    margin-bottom: 15px;
			}

		}
	}
	.search-block-form {
	    width: 45%;
	}
	.input-group input[type="search"] {
	    width: 90%;
	}
	.hero-image {
		img {
			width: 128%;
		}
	}
	.block-block-content {
		.hero-text {
			left: 3%;
		}
	}
}
@media only screen and (max-width : 415px) {
	// .container-inline {
	//     top: 63px;
	//     left: 8%;
	// }
	.navbar-right {
		li {
			a {
			    font-size: 12px;
			    padding: 0px 5px !important;
			}
		}
	}
}
@media only screen and (max-width :376px) {
	#block-blogheaderimage{
		.hero-image {
			img {
				width: 107% !important;
				max-width: none;
				margin-left: -10px;
			}
		}
	}
  .search-block-form {
    width:65%;
  }
	.hero-image {
		img {
			margin-left: -83px;
		}
	}
}

@media only screen and (max-width : 420px) {
	.navbar-right {
		margin-right: 0px !important;
	    margin-left: 8% !important;
		    input[type="search"] {
		    width: 250px;
		}
	}
	// .container-inline {
	//     left: 8%;
	//     top: 67px;
	// }
	.input-group {
	    margin-left: 2%;
	    input[type="search"] {
		    width: 200px;
		}
	}
	.social-link {
	    right: 35%;
	    top: 60%;
	}
	.navbar-right {
		li {
		    padding: 0px 0 12px 0 !important;
		}
	}
}
@media screen and (min-device-width: 760px) and (max-device-width: 802px) {
	.views-element-container{
		.views-row {
			width: 50%;
			float: left;
		}
	}
	.view-content{
		.popular-post-item {
			width: 50%;
			float: left;
		}
	}
	#block-blogheaderimage{
		.hero-image {
			img {
				width: 117% !important;
				max-width: none;
				margin-left: -103px;
			}
		}
	}


}
@media only screen and (max-width : 415px) {
	.search-block-form {
		width: 65%;
	}
}
@media only screen and (max-width : 361px) {
	.search-block-form {
		width: 70%;
	}
}

@media only screen and (max-width : 322px) {
	.input-group input[type="search"] {
	    width: 90%;
	}
	.navbar-right {
	    li {
	    	padding: 0px 0 12px 0 !important;
	    	a {
		    	font-size: 11px !important;
		    	padding: 0px 2px !important;
		    }
	    }
	}
	.social-link {
	    right: 34%;
	    top: 60px;
	}
	.search-block-form{
		.container-inline{
			margin-right: 0px;
		}
	}
}

