.carousel-caption h3 {
    font-size: 30px;
    color: #0c4365;
    font-weight: bold;
}
.carousel-caption p {
    font-size: 16px;
    color: #41669a;
}
.main-slider {
  background: #a8b7c2;
  
}
.slider-main-content {
    background: #a8b7c2;
}