<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="warning-message">
            <div class="warning-main">
                <div class="warning-left">
                    <span><i class="fa fa-exclamation-triangle"></i></span>
                </div>
                <div class="success-body">
                    <h4>Notice!</h4>
                    <div class="well well-sm">{{ data }}</div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>