<div class="row">
    <div class="col-md-6 col-md-offset-3 success-message">
        <div class="success-main">
            <div class="success-left">
                <span><i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
            <div class="success-body">
                <h4>{{ data['header'] }}</h4>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="confirm-info">
            <div class="well well-lg">{{ data['message'] }}</div>

            <table style="width:100%" class="table table-striped">
                <tr>
                    <th>Reg. ID:</th>
                    <td>{{ data['sid'] }} {{ data['id'] }}</td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>{{ data['name'] }}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{ data['email'] }}</td>
                </tr>
                <tr>
                    <th>Phone:</th>
                    <td>{{ data['phone'][0] }}</td>
                </tr>
                <tr>
                    <th>Total Amount:</th>
                    <td>{{ data['total_amount'] }} {{ data['country'] == 'Bangladesh' ? 'BDT' : 'USD' }}</td>
                </tr>
            </table>

        </div>
        <div class="print-info">
            <button type="button" class="btn btn-primary">Download</button>
        </div>
    </div>
</div>