<div class="modal fade" id="js-modal-page-show-modal" role="dialog" style="display: none;" data-modal-id="{{ id }}">
    <div class="modal-page-dialog modal-dialog">
      <div class="modal-page-content modal-content">
        <div class="modal-page-content modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-page-title">{{ title|raw }}</h4>
        </div>
        <div class="modal-body modal-page-body">
          {{ text|raw }}
        </div>
        <div class="modal-footer modal-page-footer">
          {% if do_not_show_again %}
              <input type="checkbox" class="modal-page-please-do-not-show-again" value="{{ id }}"> {{ do_not_show_again }}
          {% endif %}
          <button type="button" class="btn btn-default js-modal-page-ok-buttom" data-dismiss="modal">{{ button }}</button>
        </div>
      </div>
    </div>
  </div>
